.container { 
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 480px;
  min-height: 290px;
}

.head {
  padding: 0;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.form:nth-last-col {

  gap: 0px;
}

.input__container {
  width: 100%;
}