.itemsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  align-items: flex-start;
  text-align: left;
}

.linkList{
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 192px;
  align-items: flex-start;
}

.linkListItem {
  text-decoration: none;
}

.text {
  align-self: flex-start;
}

.navigation {
  display: flex;
  flex-direction: column;
}
.link {
  height: 64px;
  text-decoration: none;
  line-height: 64px;
  color: var(--text-inactive-color)
}
.activeLink {
  color: red
}