.container {
  max-width: 600px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  row-gap: 32px;
}

.type {
  overflow-y: auto;
  max-height: 758px;
}

.flex {
  display: flex;
}