.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

.item {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 11px;
}

.flex {
  gap: 50px;
  display: flex;
}